name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.0]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    env:
      NODE_ENV: production
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
      env:
        BRAINTREE_MERCHANT_ID: ${{ secrets.BRAINTREE_MERCHANT_ID }}
        BRAINTREE_PRIVATE_KEY: ${{ secrets.BRAINTREE_PRIVATE_KEY }}
        BRAINTREE_PUBLIC_KEY: ${{ secrets.BRAINTREE_PUBLIC_KEY }}
        CLOUDINARY_API_KEY: ${{ secrets.CLOUDINARY_API_KEY }}
        CLOUDINARY_API_SECRET: ${{ secrets.CLOUDINARY_API_SECRET }}
        CLOUDINARY_CLOUD_NAME: ${{ secrets.CLOUDINARY_CLOUD_NAME }}
        CLOUDINARY_URL: ${{ secrets.CLOUDINARY_URL }}
        JWT_SECRET: ${{ secrets.JWT_SECRET }}
        MONGO_URI: ${{ secrets.MONGO_URI }}
        MYEMAIL: ${{ secrets.MYEMAIL }}
        MYPASS: ${{ secrets.MYPASS }}
        SMTP: ${{ secrets.SMTP }}
        PORTS: ${{ secrets.PORTS }}
        PORT: ${{ secrets.PORT }}
        PASSED: ${{ secrets.PASSED }}
        USER: ${{ secrets.USER }}
